<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/img_secos_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/img_secos_banner') %>"
    alt="Chiles">

  <div class="hero-content">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      Chiles
    </div>
    <div>
      <%= link_to 'Compra', spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">

      <%= link_to spree.nested_taxons_path('categories/dulces'), class: "homepage-taxon-box mb-3" do %>
        <img class="w-100 lazyload"
          data-src="<%= asset_path('homepage/Dulces.jpg') %>"
          data-srcset="<%= image_source_set('homepage/Dulces') %>"
          alt="Dulces">

        <div class="homepage-taxon-box-text">
          <h3>Dulces</h3>
        </div>
      <% end %>

      <%= link_to spree.nested_taxons_path('categories/botanas'), class: "homepage-taxon-box" do %>
        <img class="w-100 lazyload"
          data-src="<%= asset_path('homepage/Botanas.jpg') %>"
          data-srcset="<%= image_source_set('homepage/Botanas') %>"
          alt="Botanas">

        <div class="homepage-taxon-box-text" role="img" aria-label="Botanas">
          <h3>Botanas</h3>
        </div>
      <% end %>

    </div>

    <div class="col-6 d-flex flex-column">

      <%= link_to spree.nested_taxons_path('categories/salsas'), class: "homepage-taxon-box flex-grow-1" do %>
        <img class="w-100 lazyload"
          data-src="<%= asset_path('homepage/salsas_big_C_banner.jpg') %>"
          data-srcset="<%= image_source_set('homepage/salsas_big_C_banner') %>"
          alt="Salsas Yola">

        <div class="homepage-taxon-box-text">
          <h3>Salsas Yola</h3>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3"></div>

<div class="homepage-fashion-trends-box mb-3">
  <div class="text-center">
    <div class="homepage-fashion-trends-box-summer-text mb-1">Summer 2021</div>
    <div class="homepage-fashion-trends-box-fashion-trends-text mb-2">FASHION TRENDS</div>
    <div class="homepage-fashion-trends-box-description-text text-center mb-3">
      Want to rock this season’s hottest trend in style? These are the top fashion from Summer 2020 Fashion Weeks that are coming our way this season.
    </div>
    <%= link_to 'READ MORE', spree.nested_taxons_path('trending'), class: 'btn px-5 spree-btn btn-outline-primary' %>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='trending' class="mb-3"></div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= link_to spree.nested_taxons_path('categories/salsas') do %>
        <div class="homepage-bottom-box text-center mb-3">
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/salsas_banner.jpg') %>"
            data-srcset="<%= image_source_set('homepage/salsas_banner') %>"
            alt="Salsas Yola">

          <div class="homepage-bottom-box-inner" role="img" aria-label="Salsas Yola">
            <div class="homepage-bottom-box-inner-small-text">
              Salsas Yola
            </div>
            <div class="homepage-bottom-box-inner-big-text">
              Salsas
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-6">
      <%= link_to spree.nested_taxons_path('categories/especias') do %>
        <div class="homepage-bottom-box text-center mb-3">
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/especias.jpg') %>"
            data-srcset="<%= image_source_set('homepage/especias') %>"
            alt="Especias">

          <div class="homepage-bottom-box-inner">
            <div class="homepage-bottom-box-inner-small-text">
              Especias
            </div>
            <div class="homepage-bottom-box-inner-big-text">
              Especias
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
